p {
	margin-top:2%;
	margin-bottom:2%;
	margin-right auto
	margin-left auto
	float: left;
}
div {
	margin-top:2%;
	margin-bottom:2%;
	margin-right:1%;
	margin-left:1%;
	float: left;
}
label{
	color:red;
	font-size: 15pt;
}
body{ background-color: lightblue;}

@media print{
	label{
	color:black;
	font-size: 15pt;
	}
	body{ background-color: white;}
}
 @media screen{
 	label{
	color:darkblue;
	font-size: 10pt;
	}
	body{ background-color:hotpink;}
 }
 @media screen and (min-width: 1580px){
 	body{ background-color: lightgrey;}
 }
